.people-container{
    width: 100%;
    .people-list{

    }
    .paginator-container{
        margin-top: 4rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .serach-container{
        margin: 0 auto 3rem auto;
        width: 30rem;
    }
}