<div class="person-card">
  <div class="info">
    <p>{{ "people.name" | translate }}: {{ person.name }}</p>
    <p>{{ "people.gender" | translate }}: {{ person.gender }}</p>
  </div>
  <div class="info">
    <p>{{ "people.eye-color" | translate }}: {{ person.eye_color }}</p>
    <p>{{ "people.hair-color" | translate }}: {{ person.hair_color }}</p>
  </div>
  <div class="info">
    <p>{{ "people.skin-color" | translate }}: {{ person.skin_color }}</p>
    <p>{{ "people.height" | translate }}: {{ person.height }}</p>
  </div>
</div>
